<a href="https://colab.research.google.com/github/AjayMishra-IISC/Python/blob/main/Python_03Mar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 ==0

def euler001_1(limit: int) -> int:
    n, total = 1, 0
    while n < limit:
        if select(n):
            total += n
        n +=1
    return total

In [3]:
print(euler001_1(100))

2318

In [4]:
def euler001_2(limit: int) -> int: #int is type hint for clear reading
    total = 0
    for n in range(1, limit):
        if select(n):
            total +=n
    return total

In [ ]:
print (euler001_2(1000))

233168

In [ ]:
select(10)

True

In [ ]:
def euler001_3(limit: int) ->int:
    return sum(range(3, limit, 3)) +\
           sum(range(5, limit, 5)) -\
           sum(range(15, limit, 15))

In [ ]:
print(euler001_3(1000))

233168

In [ ]:
def multiples(of: int, upto: int) -> range:
    return range(of, upto, of)

In [ ]:
def euler001_4(limit: int) -> int:
    return sum(set(multiples(3, limit)) | set(multiples(5, limit)))

In [ ]:
print(euler001_4(1000))

233168

In [ ]:
def euler001_5(limit: int) -> int:
    return sum(filter(select, range(1, limit)))

In [ ]:
print(euler001_5(1000))

233168

In [ ]:
def euler001_6(limit: int) -> int:
    return sum([n for n in range(1, limit) if select(n)])

In [ ]:
print(euler001_6(1000))

233168

In [ ]:
def alpha(n):
    r = 0
    while r * r * r < n:
        r += 1
    return r * r * r == n

In [ ]:
def is_perfect_cube(n: int) -> bool:
    r = 0
    while r * r * r < n:
        r += 1
    return r * r * r == n

In [ ]:
def is_power2(n: int) -> bool:
    r = 0
    while 2 ** r < n:
        r += 1
    return 2 ** r == n

In [ ]:
def inv(f, n: int) -> bool:
    r = 0
    while f(r) < n:
        r += 1
    return f(r) == n

In [ ]:
def power3(n: int) -> int:
    return 3 ** n

In [ ]:
def is_power3(n: int) -> bool:
    return inv(power3, n)

In [ ]:
def square(n: int) -> int:
    return n * n
def is_perfect_square(n: int) -> bool:
    return inv(square, n)

In [ ]:
is_power3(81)

True

In [ ]:
is_power3(100)

False

In [ ]:
def is_perf_cube(n: int) -> bool:
    return inv(lambda x: x * x * x, n)

In [ ]:
is_perfect_cube(27)

True

In [ ]:
is_perfect_cube(45)

False

In [ ]:
square = lambda k: k* k
even = lambda p: p % 2 == 0

In [ ]:
print (list(map(square, range(10))))
squares = []
for i in range(10):
    squares.append(square(i))
print(squares)
print([square(x) for x in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
print(list(filter(even, range(10))))
evens = []
for j in range (10):
    if even(j):
        evens.append(j)
print(evens)
print([x for x in range(10) if even(x)])

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [ ]:
def euler003(n: int) -> int:
    return max(factorize(n))

def factorize(n: int) -> list[int]:
    factors = []
    while n % 2 == 0:
        factors.append(2)
        n //=2
    r = 3
    while n > 1:
        while n % r == 0:
            factors.append(r)
            n //=r
            print(n, factors)
        r += 2
    return factors

In [ ]:
factorize(13195)

2639 [5]
377 [5, 7]
29 [5, 7, 13]
1 [5, 7, 13, 29]

[5, 7, 13, 29]

In [ ]:
def num_to_digits(n: int) -> list[int]:
    return [int(ch) for ch in str(n)]

In [ ]:
num_to_digits(1729)

[1, 7, 2, 9]

In [ ]:
def digits_to_num(ds: list[int]) -> int:
    if len(ds) == 1:
        return ds[-1]
    elif len(ds) > 1:
        return ds[-1] + 10 * digits_to_num(ds[:-1])

In [ ]:
digits_to_num([1, 7,2, 9, 5, 1])

172951

In [ ]:
def largest(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n), reverse=True))

def smallest(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n)))

In [ ]:
def next_kap(n: int) -> int:
    return largest(n) - smallest(n)

In [ ]:
def kap_seq(n: int) -> list[int]:
    seq = []
    while n not in seq:
        seq.append(n)
        n = next_kap(n)
    return seq

In [ ]:
print(kap_seq(1729))

[1729, 8442, 5994, 5355, 1998, 8082, 8532, 6174]